<div>
  <% if user_signed_in? %>
	<article class="media box">
		<figure class="media-left">
			<p class="image is-64x64">
				 <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
			</p>
		</figure>
		<div class="media-content">
      <%= render 'posts/form'%>  
    </div>
	</article>
  


  <article class="timeline new-initial">
  <h3>
    Recent tweets
  </h3>
  <ul class="posts">
    <%= render @timeline_posts %>
  </ul>
</article>


  </div>
<% end %>
</div>