
<% if user_signed_in? %>
     <div class="columns" >
       <aside class="has-background-danger">
          <div class="column">
           <%= render 'profile' %>
        </div>
      </aside>
         <div class="column is-7">
           <div class="tabs">
               <ul>
                  <li class="is-active"><a>POSTS</a></li>
                  <li><a>PHOTOS</a></li>
              <li><a>VIDEOS</a></li>
              </ul>
         </div>

         <div  class= "column">
                <%= render 'feed' %>
           </div>

           <div  class= "column is-3">
              <%= render 'who-to-follow' %>
         </div>

       </div>

       
  
           
     </div>


     
      

 <%end%>